let env = {
    mongodbUrl: 'mongodb://localhost:27017/IFC',
    web3Host: 'localhost',
    web3Port: '8545',
    IFCContractAddress: '0x36c2deb6db74527a032404d75c71c35794f92a58',
};

module.exports = env;
