var argv = require('minimist')(process.argv.slice(2), { string: ['serverAddress', 'sidechainAddress'] });

let env = {
  web3Host: 'localhost',
  web3Port: '8545',
  serverAddress: argv.serverAddress,
  sidechainAddress: argv.sidechainAddress,
  database: argv.database,
  nodePort: argv.nodePort
};

Object.keys(env).forEach((key) => {
  let value = env[key];
  if (!value) {
    throw new Error('Missing config: ' + key);
  }
});

module.exports = env;
