var argv = require('minimist')(process.argv.slice(2), { string: ['serverAddress', 'contractAddress'] });

let env = {
  mongodbUrl: 'mongodb://localhost:27017/IFC',
  web3Host: 'localhost',
  web3Port: '8545',
  serverAddress: argv.serverAddress,
  IFCContractAddress: argv.contractAddress
};

module.exports = env;
